.form-container {
    /* border: 1px solid blue; */
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 20px 0;
}

form > input:nth-child(1){
    width: 500px;
    padding: 10px 10px;
    border: none;
}

form > input:nth-child(2){
    padding: 10px;
    width: 300px;
    border: none;
    background-color: lightcoral;
}




